.radioButton {
	width: 279px;
	height: 45px;
	margin-bottom: 18px;
	padding-left: 20px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	background: none;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.06);
	border-radius: 4px;
	cursor: pointer;
}

.radioContainer {
	position: relative;
	width: 20px;
	height: 20px;
	margin-right: 15px;
	border: 0.5px solid rgba(0, 0, 0, 0.08);
	box-sizing: border-box;
	box-shadow: inset 0px 10px 20px rgba(255, 255, 255, 0.16);
	border-radius: 50%;
}

.radio {
	position: relative;
	width: 70%;
	height: 70%;
	margin: 0 !important;
	top: 13.5%;
	left: 13.5%;
	background: #F2F2F2;
	border-radius: 50%;
	box-shadow: inset 0px 10px 20px rgba(255, 255, 255, 0.16);
}

.activeRadio {
	margin: 0;
	background: linear-gradient(180deg, #FEE9A1 0%, #FFDD64 100%);
	box-shadow: inset 0px 10px 20px rgba(255, 255, 255, 0.16);
}

.position {
	font-family: "Gilroy",
		"Arial",
		"sans-serif";
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 26px;
	color: #242424;
}
